<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
<title>Formulário de pedido</title>
</head>

<body>

	<div class="container">

		<div class="jumbotron mb-0 bg-light">
			<h1 class="display-4 ">Novo Pedido</h1>
		</div>

		<div class="card">
			<div class="card-body">


				<form th:object="${requisicaoNovoPedido}" class="needs-validation" action="/pedido/novo" method="POST">

					<div class="form-group">
						<label for="nomeProduto">Nome do produto</label> 
						<input 
							th:field="*{nomeProduto}"
							th:errorClass="is-invalid"
							class="form-control" 
							placeholder="Nome do produto"> 
						<small>Informe o nome do produto</small>
						<div th:errors="*{nomeProduto}">
						Erros
						</div>
					</div>
					<div class="form-group">
						<label for="urlProduto">URL do produto</label> 
						<input 
							th:field="*{urlProduto}"
							th:errorClass="is-invalid"
							type="text"
							class="form-control" 
							placeholder="URL do produto"> 
							<small>Informe a url do produto</small>
						<div th:errors="*{urlProduto}">
						Erros
						</div>
					</div>
					<div class="form-group">
						<label for="urlImagem">Imagem</label> 
						<input
							th:field="*{urlImagem}"
							th:errorClass="is-invalid" 
							class="form-control" 
							placeholder="Url da imagem">
						<small>Informe a url da imagem do produto</small>
						<div th:errors="*{urlImagem}">
						Erros
						</div>
					</div>
					<div class="form-group">
						<label for="descricaoProduto">Descricao</label>
						<textarea 
							th:field="*{descricaoProduto}" 
							th:errorClass="is-ivalid"
							class="form-control" 
							rows="5"
							placeholder="Insira a descrição do  produto aqui">
				</textarea>
					<div th:errors="*{descricaoProduto}">
						Erros
						</div>
					</div>
					<button type="submit" class="btn btn-primary mt-3">CADASTRAR</button>
				</form>


			</div>
		</div>
	</div>
</body>
</html>
